body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9fff2; /* Light and neutral background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #080808;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #047727;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    letter-spacing: 0.1em;
}

td {
    color: #0f460d;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

caption {
    caption-side: top;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #047727;
    margin-bottom: 10px;
}